* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.first-color {
  background-color: #d95550;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
}

.header {
  max-width: 900px;
  height: 75px;
  margin: auto;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 75px;
  min-width: 900px;
  padding: 0px 35px;
}

.logo {
  max-height: 40px;
}

.logo__link {
  max-height: 40px;
  text-decoration: none;
  color: inherit;
}

.navbar {
  max-width: 700px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__list-item {
  list-style: none;
}

.navbar__list-item:not(:last-child) {
  margin-right: 30px;
}

.navbar__link {
  display: flex;
  justify-content: space-between;
  color: inherit;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
}

.navbar__link-descr {
  position: relative;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

.navbar__link-descr:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-out;
}

.navbar__link-descr:hover::after {
  width: 100%;
}

.navbar__icon {
  width: 28px;
  margin-right: 6px;
  margin-bottom: 1.5px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 520px;
}

.timer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-top: 20px;
  padding: 40px 40px 50px 40px;
}

.timer-body__mode {
  margin-bottom: 40px;
}

.timer-body__mode-list {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  list-style: none;
}

.timer-body__mode-item {
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
  position: relative;
}

.timer-body__mode-item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -4px;
  transform: translateX(-11%);
  width: 0;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: width 0.3s ease-out;
  border-radius: 5px;
}

.timer-body__mode-item:hover::after {
  height: 130%;
  width: 130%;
  z-index: -1;
}

.timer-body__watch {
  display: flex;
  justify-content: center;
}

.timer-body__watch-text {
  color: white;
  font-size: 210px;
  font-weight: bold;
  line-height: 80%;
}

.timer-body__button {
  max-width: 200px;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  padding: 10px 50px;
  margin: 40px auto 0px auto;
  font-size: 20px;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  box-shadow: 0 5px 0px 0 rgba(255, 255, 255, 0.2);
}

.timer-counter {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.timer-counter__text {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.timer-counter__current {
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.timer-counter__total {
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.timer-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 35px;
}

.timer-tasks__descr {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
}

.timer-tasks__descr-link {
  display: flex;
  align-items: center;
}

.timer-tasks__descr-folder {
  width: 28px;
}

.timer-tasks__descr-text {
  font-size: 20px;
  line-height: 100%;
}

.timer-tasks__underline {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  border-radius: 1px;
}

.timer-tasks__creator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timer-tasks__creator-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  border: 3px dashed rgba(255, 255, 255, 0.3);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  cursor: pointer;
}

.timer-tasks__creator-icon {
  width: 28px;
  margin-right: 5px;
}

.timer-tasks__creator-text {
  font-size: 15px;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */