.header
  height: 75px
  background-color: tomato
  display: flex
  justify-content: space-between
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    max-height: 75px
    min-width: 900px
.logo
  max-height: 40px
  &__link
    max-height: 40px
    text-decoration: none
    color: inherit
.navbar
  max-width: 700px
  &__list
    display: flex
    justify-content: space-between
    &-item
      list-style: none
      &:not(last-child)
        margin-right: 30px
  &__link
    display: flex
    justify-content: space-between
    color: inherit
    font-weight: 500
    align-items: center
    text-decoration: none
  &__icon
    width: 28px
    margin-right: 6px
    margin-bottom: 1.5px
    &:hover
      fill: "white"
      transition: 1s
